/**********************************************************/
/************************* 全站背景 ************************/
/**********************************************************/

/* 隐藏顶部线条 */
.headband {
  display: none;
}

/* 导航菜单吸附置顶 */
// .header {
//   position: sticky;
//   top: 10px;
// }

// .sidebar {
//   position: sticky;
//   top: 417px;
// }

/* 顶部边距 */
.header,
.main-inner {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}