// Variables of Gemini scheme
// ==================================================

// 默认的配置文件在 \themes\next\source\css (base.styl 和 各个主题单独的文件)

// 一些全局样式的设置
// --------------------------------------------------
// 背景
$body-bg-color                = #ee;

// 侧边栏
// $sidebar-width                = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 240;
// $sidebar-desktop              = unit($sidebar-width, 'px');
// $content-wrap                 = 'calc(100% - %s)' % unit($sidebar-width + $sidebar-offset, 'px');

// 内容
// $content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px');
// $content-desktop-large        = 1160px;
// $content-desktop-largest      = 73%;


// 边界
// --------------------------------------------------
$box-shadow-inner        = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
$box-shadow              = 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 -1px .5px 0 rgba(0, 0, 0, .09);

$border-radius-inner     = initial;
$border-radius           = initial;
// $border-radius-inner     = 0 0 3px 3px;
// $border-radius           = 3px;


// 标题
// --------------------------------------------------
$subtitle-color                   = $grey-lighter;
$brand-padding                    = 0;
$site-subtitle-margin             = 10px 10px 0;


// 侧边栏
// --------------------------------------------------
$sidebar-nav-color                = var(--text-color);
$sidebar-nav-hover-color          = $orange;
$sidebar-highlight                = $orange;

$site-author-image-width          = 120px;
$site-author-image-border-width   = 1px;
$site-author-image-border-color   = $gainsboro;

$site-author-name-margin          = 0;
$site-author-name-color           = var(--text-color);
$site-author-name-weight          = 600;

$site-description-font-size       = $font-size-smaller;
$site-description-color           = $grey-dark;
$site-description-margin-top      = 0;

$site-state-item-count-font-size  = $font-size-medium;
$site-state-item-name-font-size   = $font-size-smaller;
$site-state-item-name-color       = $grey-dark;


// 组件
// --------------------------------------------------

// 按钮
$btn-default-radius           = 2px;
$btn-default-bg               = white;
$btn-default-color            = $text-color;
$btn-default-border-color     = $text-color;
$btn-default-hover-bg         = $black-deep;
$btn-default-hover-color      = white;

// 回到顶部
$b2t-opacity                  = .6;
$b2t-opacity-hover            = .8;

// 标签云
// --------------------------------------------------
$tag-cloud-start      = #aaa;
$tag-cloud-end        = #111;
$tag-cloud-start-dark = #555;
$tag-cloud-end-dark   = #eee;


/*********************************************************/
/************************* 自定义 ************************/
/*********************************************************/


// // 页面宽度和圆角度数
// $content-desktop              = 90%;
// $content-desktop-large        = 72%;
// $content-desktop-largest      = 55%;
// $myradius                     = 8px;  // 自定义变量:圆角半径

// // 颜色
// $text-color                   = #313135;
// $text-color-dark              = #d9dad3;

// $link-color                   = $text-color;
// $link-color-dark              = $text-color-dark;

// $link-hover-color             = #0f6fbe;
// $link-hover-color-dark        = #5fb1dd;

// $btn-default-bg               = #3f5973;
// $btn-default-hover-bg         = $link-hover-color;

// $body-bg-color-dark           = #181c27;
// $content-bg-color-dark        = #252d38;
// $menu-item-bg-color-dark      = #3e4b5e;

// // 代码框
// $highlight-background         = #f4f5f7;
// $highlight-background-dark    = #3c495b;

// // 表格
// $table-row-odd-bg-color       = $blockquote-bg-color;
// $table-row-odd-bg-color-dark  = $blockquote-bg-color-dark;

// // 引用框
// $blockquote-bg-color          = $highlight-background;
// $blockquote-bg-color-dark     = #2f3947;

// // 阴影
// $image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);
// $box-shadow                   = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// $box-shadow-hover             = 0 5px 6px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

// 图片路径 
// $site-brand-bg-url            = '/images/header-pink.webp';
// $body-bg-url                  = '/images/body.webp';
// $comment-bg-url               = '/images/comment.webp';